<style>
    .index-page {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .index-page .page-list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .index-page .list-item {
        list-style: none;
        padding: 10px 15px;
        background: #FFF;
        margin: 15px;
        border-radius: 5px;
    }

    .index-page .list-item .name {
        padding-bottom: 5px;
    }
</style>
<div class="zen-page index-page">
    <h2 class="font24 white text-center normal">Zenjs Modules</h2>
    <ul class="page-list" id="page-list">
    </ul>
    <div class="page-template hide">
        <li class="list-item inline clearfix">
            <div class="font20 name"></div>
            <div class="font16 gray href action"></div>
        </li>
    </div>
</div>
<script>
    $(function() {
        var pages = [{
            "name": "toggle-group",
            "href": "#example/toggle-group"
        }, {
            "name": "multi-select",
            "href": "#example/multi-select"
        }, {
            "name": "single-page toggle-group",
            "href": "#example/single-page/toggle-group"
        }, {
            "name": "single-page multi-select",
            "href": "#example/single-page/multi-select"
        }, {
            "name": "alert",
            "action": "Message.alert('Light Zen')"
        }, {
            "name": "toast",
            "action": "Message.toast('Light Zen')"
        }, {
            "name": "confirm",
            "action": "Message.confirm('Light Zen')"
        }];
        var Service = {
            init: function() {
                this.data = pages;
                this.rend();
            },
            rend: function() {
                var self = this;
                var data = pages;
                var parent = $(".page-list");
                for (var i = 0; i < data.length; i++) {
                    var item = data[i];
                    var clone = $(".page-template .list-item").clone();
                    Store.data(clone, item);
                    Util.rendValue(clone, item);
                    self.bind(clone);
                    parent.append(clone);
                }
            },
            bind: function(clone) {
                clone.click(function() {
                    var data = Store.data(clone);
                    if (data.href) {
                        window.location.href = data.href;
                    }
                    if (data.action) {
                        eval(data.action);
                    }

                })
            }
        }
        Zen.ready(Service);
    })
</script>
