<style>
    .home-nav {
        position: relative;
        color: #FFF;
        max-width: 800px;
        margin: 0 auto;
    }

    .home-nav .nav-line {
        height: 1px;
        background-color: #FFF;
    }

    .home-nav .nav-btn {
        display: inline-block;
        font-size: 16px;
        border: 1px solid #FFF;
        line-height: 40px;
        height: 40px;
        width: 200px;
        text-align: center;
        margin: -1px auto;
    }

    .home-nav .nav-mid {
        height: 1px;
        width: 556px;
        background-color: #FFF;
        transform: rotate(-45%);
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        position: absolute;
        left: 50%;
        margin-left: -278px;
    }

    .home-nav .nav-top .nav-items {
        border-left: 1px solid rgb(88, 103, 122);
        margin-left: 50px;
        padding: 15px 0;
        width: 150px;
    }

    .home-nav .nav-bot .nav-items {
        border-right: 1px solid rgb(88, 103, 122);
        margin-right: 50px;
        padding: 15px 0;
        width: 150px;
        float: right;
    }

    .home-nav .nav-items li {
        position: relative;
        display: block;
        /*max-width: 100px;*/
        line-height: 40px;
        padding: 0 25px;
        transition: all 0.2s;
        border-bottom: 2px solid transparent;
    }

    .home-nav .nav-items li:hover {
        color: #FFF;
        border-bottom: 2px solid #FFF;
        padding: 0 40px;
    }

    .home-nav .nav-bot {
        position: relative;
        text-align: right;
    }
</style>
<nav class="home-nav clearfix">
    <div class="nav-top">
        <div class="text-right lh30 ">大道至简，衍化至繁</div>
        <div class="nav-line"></div>
        <span class="nav-btn">GANLIGHT</span>
        <div class="menu-box clearfix">
            <ul class="nav-items">
                <li v-link="#ganlight/blog/catalog">BLOG</li>
                <li v-link="#ganlight/desgin">DESGIN</li>
                <li v-link="#ganlight/about">ABOUT</li>
            </ul>
        </div>
    </div>
    <div class="nav-mid"></div>
    <div class="nav-bot">
        <div class="menu-box clearfix">
            <ul class="nav-items">
                <li v-link="#zenjs">INTRO</li>
                <li v-link="#zenjs/api">API</li>
                <li v-link="#zenjs/demo">DEMO</li>
            </ul>
        </div>
        <span class="nav-btn">ZENJS</span>
        <div class="nav-line"></div>
        <div class="text-left lh30 ">大道无形，道法自然</div>
    </div>
</nav>
