<style>
    .zen-page {
        height: 100%;
    }

    .menu-nav {
        position: relative;
        color: #FFF;
        transition: all 0.2s;
        background-color: #141E30;
        background: linear-gradient(to left, #141E30, #243B55);
    }

    .menu-nav .nav-line {
        position: relative;
        height: 1px;
        background-color: #FFF;
    }

    .menu-nav .nav-btn {
        display: inline-block;
        font-size: 16px;
        border: 1px solid #FFF;
        line-height: 40px;
        height: 40px;
        width: 200px;
        text-align: center;
        margin: -1px auto;
    }

    .menu-nav .nav-mid {
        height: 1px;
        width: 60px;
        background-color: #FFF;
        transform: rotate(-45%);
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        position: absolute;
        left: 50%;
        margin-left: -30px;
    }

    .menu-nav .nav-items {
        display: inline-block;
    }

    .menu-nav .nav-right {
        float: right;
        text-align: right;
    }

    .menu-nav .nav-items li {
        position: relative;
        display: inline-block;
        max-width: 100px;
        line-height: 40px;
        padding: 0 25px;
        transition: all 0.2s;
        border-bottom: 2px solid transparent;
    }

    .menu-nav .nav-items li:hover {
        color: #FFF;
        border-bottom: 2px solid #FFF;
        padding: 0 40px;
    }

    .menu-nav .nav-bot {
        position: relative;
        text-align: right;
    }

    .menu-nav.show-menu {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 100;
    }

    .menu-nav.show-menu .nav-top {
        display: none;
    }
</style>
<nav class="menu-nav inline">
    <div class="container">
        <div class="nav-top clearfix">
            <span class="fl lh30 ">大道至简，衍化至繁</span>
            <span class="fr lh30 ">大道无形，道法自然</span>
        </div>
        <div class="nav-line mt5">
            <div class="nav-mid"></div>
        </div>
        <div class="nav-left span6">
            <span class="nav-btn">GANLIGHT</span>
            <ul class="nav-items">
                <li v-link="#/ganlight/blog">BLOG</li>
                <li v-link="#/ganlight/desgin">DESGIN</li>
                <li v-link="#/ganlight/about">ABOUT</li>
            </ul>
        </div>
        <div class="nav-right span6">
            <ul class="nav-items">
                <li v-link="#/zenjs">INTRO</li>
                <li v-link="#/zenjs/api">API</li>
                <li v-link="#/zenjs/demo">DEMO</li>
            </ul>
            <span class="nav-btn">ZENJS</span>
        </div>
    </div>
</nav>

<script type="text/javascript">
    $(function() {
        var Service = {
            init: function() {
                $(window).scroll(function() {
                    if ($(window).scrollTop() > 65) {
                        $(".menu-nav").addClass("show-menu");
                    } else {
                        $(".menu-nav").removeClass("show-menu");
                    }
                });
            }
        }
        zen.page.ready(Service);
    })
</script>
