.c-btn {
    position: relative;
    display: inline-block;
    padding: 1rem 2.5rem;
    background: #fdfcfc;
    text-align: center;
    color: #333333;
    border-radius: .3rem;
    top: 0.4rem;
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 1.6rem;
    cursor: pointer;
}

.c-btn.bg-blue {
    background: #03a3fc;
    color: #FFF;
}

.c-btn.bg-green {
    background: #7cc854;
    color: #FFF;
}

.c-btn.blue {
    background: #FFF;
    color: #03a3fc;
}

.c-btn.green {
    background: #FFF;
    color: #7cc854;
}

.c-btn.c-small {
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    margin-top: 0.3rem;
}

.white-btn {
    height: 3.5rem;
    background-color: #FFF;
    border: 0;
    color: #ff663d;
    line-height: 3.5rem;
    display: inline-block;
    border-radius: .3rem;
    font-size: 1.4rem;
    text-align: center;
    text-decoration: none;
    margin: 1rem 0;
    border: .1rem solid #ff663d;
}

.red-btn {
    height: 3.5rem;
    background-color: #ff663d;
    border: 0;
    color: #FFF;
    line-height: 3.5rem;
    display: inline-block;
    border-radius: .3rem;
    font-size: 1.4rem;
    text-align: center;
    text-decoration: none;
    margin: 1rem 0;
    border: .1rem solid #ff663d;
}

.wap-btn {
    height: 4.5rem;
    background-color: #ff663d;
    border: 0;
    color: #FFF;
    line-height: 4.5rem;
    display: inline-block;
    border-radius: .4rem;
    font-size: 1.6rem;
    text-align: center;
    text-decoration: none;
    margin: 1rem 0;
    width: 100%;
}

.wap-btn.large-btn {
    height: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.6rem;
}

.wap-btn.gray-btn {
    background-color: #c2c2c2;
}

.wap-btn.red-btn {
    background-color: #da360a;
}

.wap-btn.red-btn {
    background-color: #ff663d;
}

.wap-btn.white-btn {
    background-color: #FFF;
    border: .1rem solid #ff663d;
    color: #ff663d;
}
