
/*----------------------------------------------*/
/* 0. common-block Styles
----------------------------------------------*/
body {
    overflow-x: hidden;
}

.main-container {
    position: absolute;
    transition: all 0.2s;
    background: transparent;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 20;
}

.ext-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    /*z-index: 10;*/
}

.section {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #eeeef1;
    z-index: 20;
    overflow-x: hidden;
}

.rotate45 {
    transform: rotate(45%);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    position: absolute;
}

.tag {
    border: .1rem solid red;
    font-size: 1rem;
    border-radius: .2rem;
    color: red;
    margin-left: .5rem;
    margin-bottom: 0rem;
}

.c-tabs {
    position: relative;
}

.c-tabs .tabs-area {
    margin-bottom: 1rem;
    background: #FFF;
}

.c-tabs .tab-item {
    position: relative;
    line-height: 4rem;
    cursor: pointer;
}

.c-tabs .tab-item>span {
    border-bottom: .2rem solid #FFF;
    display: inline-block;
}

.c-tabs .tab-item.selected>span {
    border-bottom: .2rem solid #ff663d;
    display: inline-block;
    color: #ff663d;
}

.c-tabs .tab-context {
    display: none;
}

.c-tabs .tab-context.active {
    display: block;
}

.c-hr {
    text-align: center;
    position: relative;
}

.c-hr .title {
    width: 10rem;
    text-align: center;
    margin: 0 auto;
    line-height: 4rem;
    height: rem;
    background: #eeeef1;
}

.c-hr .line {
    text-align: center;
    border-bottom: .05rem dashed #636366;
    position: absolute;
    bottom: 2rem;
    width: 100%;
    height: .1rem;
    z-index: -1;
}
