
/*----------------------------------------------*/
/* 0. common-block Styles
----------------------------------------------*/

body {
    overflow-x: hidden;
}

.main-container {
    position: absolute;
    transition: all 0.2s;
    background: transparent;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 20;
}

.ext-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    /*z-index: 10;*/
}

.section {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #eeeef1;
    z-index: 20;
    overflow-x: hidden;
}

.sidenav {
    background: rgba(67, 132, 33, 0.78);
    width: 15rem;
    position: absolute;
    opacity: 1;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    padding-top: 3rem;
    transition: all 0.2s;
    /*transform: translateX(15rem);
    -webkit-transform: translateX(15rem);
    -moz-transform: translateX(15rem);*/
}

.sidenav ul {
    margin: 0 auto;
    padding: 0;
}

.sidenav li {
    list-style-type: none;
    padding-left: 0.5rem;
}

.sidenav a {
    color: white;
    text-decoration: none;
}

.sidenav b {
    display: block;
    opacity: 0;
    transition: all 0.2s;
    font-weight: normal;
    font-weight: 1.6rem;
    line-height: 4.5rem;
    /*transform: translateX(5rem);
    -webkit-transform: translateX(5rem);
    -moz-transform: translateX(5rem);*/
}

.sidenav li i {
    display: block;
    width: 5rem;
    float: left;
    font-size: 1.6rem;
    line-height: 4.5rem;
    text-align: center;
}

.menu-opened.main-container {
    transform: translateX(-15rem);
    -webkit-transform: translateX(-15rem);
    -moz-transform: translateX(-15rem);
    /*overflow-y: hidden;*/
}

.sidenav.menu-opened {
    width: 15rem;
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
}

.sidenav.menu-opened b {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
}


/*----------------------------------------------*/


/* 0. common-block Styles
----------------------------------------------*/

.downblank-section {
    background: transparent;
    height: 50px;
}

.rotate45 {
    transform: rotate(45%);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    position: absolute;
}

.box {
    position: relative;
    background: #FFF;
    margin: 1rem;
    padding: 1rem;
    border-radius: .3rem;
    margin-bottom: 0;
}

.panel {
    position: relative;
    background: #FFF;
    padding: 0 1.5rem;
    margin-bottom: 1.5rem;
}

.tag {
    border: .1rem solid red;
    font-size: 1rem;
    border-radius: .2rem;
    color: red;
    margin-left: .5rem;
    margin-bottom: 0rem;
}

.tag-more {
    display: inline-block;
    width: .9rem;
    height: 1.6rem;
    background: url('/assets/img/common/arrow-right-ico.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 1.8rem;
    right: 1.5rem;
}

.tag-detail {
    display: inline-block;
    width: 2rem;
    height: 1rem;
    background: url('/assets/img/common/arrow-down-ico.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

.selected .tag-detail {
    background: url('/assets/img/common/arrow-up-ico.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.tag-expend {
    display: inline-block;
    width: 1rem;
    height: 0.8rem;
    background: url('/assets/img/common/expend-ico.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 2rem;
    right: 1.5rem;
}

.selected .tag-expend {
    background: url('/assets/img/common/expend-s-ico.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.methods-field {
    position: relative;
}

.methods-field .method-item {
    position: relative;
    margin-top: 3rem;
}

.methods-field .method-item>.title {
    padding: 0 1.5rem;
    font-size: 1.6rem;
}

.methods-field .method-item .des {
    line-height: 3rem;
    padding: 0 1.5rem;
    font-size: 1.2rem;
    margin-left: 2rem;
}

.methods-field .method-item .card-limit-text {
    padding-left: 1.5rem;
    font-size: 1.2rem;
}

.methods-field .limit-des {
    float: right;
    margin-right: 1.5rem;
    margin-top: 0.15rem;
}

.c-tabs {
    position: relative;
}

.c-tabs .tabs-area {
    margin-bottom: 1rem;
    background: #FFF;
}

.c-tabs .tab-item {
    position: relative;
    line-height: 4rem;
    cursor: pointer;
}

.c-tabs .tab-item>span {
    border-bottom: .2rem solid #FFF;
    display: inline-block;
}

.c-tabs .tab-item.selected>span {
    border-bottom: .2rem solid #ff663d;
    display: inline-block;
    color: #ff663d;
}

.c-tabs .tab-context {
    display: none;
}

.c-tabs .tab-context.active {
    display: block;
}

.c-hr {
    text-align: center;
    position: relative;
}

.c-hr .title {
    width: 10rem;
    text-align: center;
    margin: 0 auto;
    line-height: 4rem;
    height: rem;
    background: #eeeef1;
}

.c-hr .line {
    text-align: center;
    border-bottom: .05rem dashed #636366;
    position: absolute;
    bottom: 2rem;
    width: 100%;
    height: .1rem;
    z-index: -1;
}

.expend {
    display: inline-block;
    width: 1.5rem;
    height: 1rem;
    background: url('/assets/img/common/expend-ico.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.selected .expend {
    background: url('/assets/img/common/expend-s-ico.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


/*----------------------------------------------*/


/* 0. page-common Styles
----------------------------------------------*/

.yhc-logo {
    height: 2.5rem;
    margin-bottom: 1.5rem;
}

.none-order-field {
    position: relative;
    text-align: center;
}

.none-order-field .mbody {
    text-align: center;
    margin: 50px 0;
}

.none-order-field img {
    width: 20%;
}

.none-order-field .mbody .none-order-text {
    margin-top: 10px;
    display: block;
}

.limit-table {
    width: 100%;
    background: #fff;
    margin-bottom: 10px;
    border-radius: 8px
}

.limit-table tr td, .limit-table tr th {
    padding: 10px 0;
    text-align: center
}

.limit-table thead tr {
    background-color: #fd942a;
    color: #fff;
    font-size: 16px
}

.limit-table tbody tr {
    border-bottom: 1px solid #eeedf2
}

i.close {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: url('/assets/img/common/close-ico.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    vertical-align: text-bottom;
    margin-right: .5rem;
}

i.edit {
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    background: url('/assets/img/common/edit-ico.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    vertical-align: text-bottom;
    margin-right: .5rem;
}

i.question {
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    background: url('/assets/img/common/question-ico.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    vertical-align: text-bottom;
    margin-right: .5rem;
}

i.notice {
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    background: url('/assets/img/common/notice-ico.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    vertical-align: text-bottom;
    margin-right: .5rem;
    vertical-align: text-top;
}

i.delete {
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    background: url('/assets/img/common/del-ico.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    vertical-align: text-bottom;
    margin-right: .5rem;
    vertical-align: text-top;
}

i.flag {
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    background: url('/assets/img/common/flag-ico.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    vertical-align: text-bottom;
    margin-right: .5rem;
    vertical-align: text-top;
}

i.dec {
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    background: url('/assets/img/common/dec-title-ico.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    vertical-align: text-bottom;
    margin: 0 .5rem;
    vertical-align: text-top;
}

i.safe {
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    background: url('/assets/img/common/safe-icon.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    vertical-align: text-bottom;
    margin-right: .5rem;
}


/*----------------------------------------------*/


/* 0. page-common-block Styles
----------------------------------------------*/

.c-navmenu-banner .title {
    font-size: 1.6rem;
    color: #FFF;
}
.c-navmenu-banner .menu {
    cursor: pointer;
}

.c-navmenu-banner>div {
    position: relative;
    padding: 1.1rem 1.5rem;
    font-size: 2rem;
    background: #7cc854;
}
.role-coach .c-navmenu-banner>div{
    background: #03a3fc;
}
.role-coach .c-btn{
    background: #03a3fc;
}
.role-coach .green{
    color: #03a3fc;
}
.role-coach .c-page-tips .ico i{
    color: #03a3fc;
}

.role-coach .c-tabs .tab-item.selected>span {
    border-bottom: .2rem solid #03a3fc;
    display: inline-block;
    color: #03a3fc;
}
.nav-trainee{
  display: block;
}
.nav-coach{
  display: none;
}
.role-coach .nav-trainee{
  display: none;
}
.role-coach .nav-coach{
  display: block;
}
.role-coach .sidenav{
  background: #0f7bb7;
}

.c-page-tips {
    position: relative;
    text-align: center;
    padding: 1.5rem 0;
    margin: 0 auto;
    display: none;
    cursor: pointer;
}

.c-page-tips .ico i {
    font-size: 3rem;
    color: #7cc854;
    margin: 1rem;
}
