/*----------------------------------------------*/
/* 0. common-container Styles
----------------------------------------------*/

.clearfix {
    *zoom: 1;
}

.clearfix:before, .clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}

.clearfix:after {
    clear: both;
}

.hide {
    display: none;
}

.invisible {
    visibility: hidden;
}


/*容器样式相关*/

.w45 {
    width: 45%;
    margin: 0 auto;
}

.w50 {
    width: 50%;
    margin: 0 auto;
}

.w70 {
    width: 70%;
    margin: 0 auto;
    display: inherit;
}

.w80 {
    width: 80%;
    margin: 0 auto;
    display: inherit;
}

.w90 {
    width: 90%;
    margin: 0 auto;
    display: inherit;
}

.w100 {
    width: 100%;
    margin: 0 auto;
    display: inherit;
}

.inline .span10 {
    display: inline-block;
    text-align: center;
    width: 83.3%;
    float: left;
}

.inline .span8 {
    display: inline-block;
    text-align: center;
    width: 66.66%;
    float: left;
}

.inline .span7 {
    display: inline-block;
    text-align: center;
    width: 58.3%;
    float: left;
}

.inline .span6 {
    display: inline-block;
    text-align: center;
    width: 50%;
    float: left;
}

.inline .span4 {
    display: inline-block;
    text-align: center;
    width: 33.33%;
    float: left;
}

.inline .span5 {
    display: inline-block;
    text-align: center;
    width: 41.7%;
    float: left;
}

.inline .span3 {
    display: inline-block;
    text-align: center;
    width: 25%;
    float: left;
}

.inline .span2 {
    display: inline-block;
    text-align: center;
    width: 16.7%;
    float: left;
}

.inline .span1 {
    display: inline-block;
    text-align: center;
    width: 8.3%;
    float: left;
}


/*----------------------------------------------*/


/* 0. common-layout Styles
----------------------------------------------*/

html {
    font-size: 62.5%;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.fix-bottom {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 51;
}

.fix-top {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 51;
}

.h100 {
    height: 100%;
}

.h50 {
    height: 50%;
}

.v-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ml5 {
    margin-left: .5rem;
}

.ml10 {
    margin-left: 1rem;
}

.ml15 {
    margin-left: 1.5rem;
}

.ml20 {
    margin-left: 2rem;
}

.ml40 {
    margin-left: 4rem;
}

.mr5 {
    margin-right: .5rem;
}

.mr10 {
    margin-right: 1rem;
}

.mr15 {
    margin-right: 1.5rem;
}

.mr20 {
    margin-right: 2rem;
}

.mr40 {
    margin-right: 4rem;
}

.mt5 {
    margin-top: 0.5rem;
}

.mt10 {
    margin-top: 1rem;
}

.mt15 {
    margin-top: 1.5rem;
}

.mt30 {
    margin-top: 3rem;
}

.mt40 {
    margin-top: 4rem;
}

.mt50 {
    margin-top: 5rem;
}

.mb5 {
    margin-bottom: 0.5rem;
}

.mb10 {
    margin-bottom: 1rem;
}

.mb15 {
    margin-bottom: 1.5rem;
}

.mb30 {
    margin-bottom: 3rem;
}

.mb50 {
    margin-bottom: 5rem;
}

.pt10 {
    padding-top: 1rem;
}

.pt15 {
    padding-top: 1.5rem;
}

.pt30 {
    padding-top: 3rem;
}

.pb10 {
    padding-bottom: 1rem;
}

.pb15 {
    padding-bottom: 1.5rem;
}

.pb30 {
    padding-bottom: 3rem;
}

.pw10 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.pw15 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.ph5 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.ph10 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.ph15 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.mt10 {
    margin-top: 1rem;
}

.mt15 {
    margin-top: 1.5rem;
}

.mt30 {
    margin-top: 3rem;
}

.mt50 {
    margin-top: 5rem;
}

.lh20 {
    line-height: 2rem;
}

.lh25 {
    line-height: 2.5rem;
}

.lh30 {
    line-height: 3rem;
}

.lh40 {
    line-height: 4rem;
}

.lh45 {
    line-height: 4.5rem;
}

.lh50 {
    line-height: 5rem;
}

.lh60 {
    line-height: 6rem;
}


/*----------------------------------------------*/


/* 0. common-color Styles
----------------------------------------------*/

.white {
    color: #FFF;
}

.green {
    color: #7cc854;
}

.red {
    color: #ff663d;
}

.yellow {
    color: #ff663d;
}

.dark-gray {
    color: #9b9b9c;
}

.font-gray {
    color: #333333;
}

.gray {
    color: #666666;
}

.blue {
    color: #03a3fc;
}

.bg-blue {
    background: #03a3fc;
}

.beige {
    color: beige;
}

.bg-beige {
    background: beige;
}

.bg-white {
    background-color: #FFF;
}

.bg-gray {
    background-color: #eeeef1;
}

.bg-green {
    background-color: #7cc854;
}

.b-line {
    border-bottom: .1rem solid #eeedf2;
}

.t-line {
    border-top: .1rem solid #eeedf2;
}

.l-line {
    border-left: .1rem solid #eeedf2;
}

.r-line {
    border-right: .1rem solid #eeedf2;
}

/*----------------------------------------------*/


/* 0. common-font Styles
----------------------------------------------*/

.font12 {
    font-size: 1.2rem;
}

.font13 {
    font-size: 1.3rem;
}

.font14 {
    font-size: 1.4rem;
}

.font16 {
    font-size: 1.6rem;
}

.font18 {
    font-size: 1.8rem;
}

.font20 {
    font-size: 2rem;
}

.font22 {
    font-size: 2.2rem;
}

.font24 {
    font-size: 2.4rem;
}

.font32 {
    font-size: 3.2rem;
}

.font40 {
    font-size: 4rem;
}

.font50 {
    font-size: 5rem;
}

.normal {
    font-weight: normal;
}

.bold {
    font-weight: bold;
}
