body {
    -webkit-overflow-scrolling: touch;
}

#app {
    position: absolute;
    width: 100%;
    min-height: 100%;
    overflow-y: auto;
    transition: all 0.2s;
    background: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.zen-page {
    position: relative;
    min-height: 100%;
    transition: all 0.2s;
    /*transform: translate3d(100%, 0, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);*/
    /*-webkit-overflow-scrolling: touch;*/
    /*overflow-y: scroll;*/
}

.zen-module {
    display: none;
}

.zen-module.show {
    display: block;
}

.c-card {
    position: relative;
    background: #FFF;
    margin: 1.5rem 1.5rem 0 1.5rem;
    border-radius: .3rem;
    padding: 1.5rem;
}

.c-card:active {
    background: #EEE;
}

@keyframes slideIn {
    from {
        transform: translate3d(100%, 0, 0);
        opacity: 0;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-webkit-keyframes slideIn {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        opacity: 0;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-moz-keyframes slideIn {
    from {
        -moz-transform: translate3d(100%, 0, 0);
        opacity: 0;
    }
    to {
        -moz-transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    to {
        transform: translate3d(100%, 0, 0);
        opacity: 0;
    }
}

.zen-page.slideIn {
    animation: slideIn .2s forwards;
    -webkit-animation: slideIn .2s forwards;
    -moz-animation: slideIn .2s forwards;
    /*transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);*/
}

.zen-page.slideOut {
    animation: slideOut .2s forwards;
    -webkit-animation: slideOut .2s forwards;
    -moz-animation: slideOut .2s forwards;
}
