<style>
    .banner-area {
        line-height: 5rem;
    }

    .banner-area .back-btn {
        background: currentColor;
    }

    .banner-area .catalog-type {
        background: cadetblue;
    }

    .markdown-area {
        position: relative;
        background: #fff;
        margin: 1.5rem 1.5rem 0;
        border-radius: .3rem;
        padding: 1.5rem;
        margin-bottom: 6rem;
        display: none;
    }
</style>
<div class="zen-page ">
    <div class="banner-area inline clearfix fix-bottom">
        <div class="back-btn span3"><i class="fa fa-arrow-left fa-fw white"></i><span class="white ml10 font16">上一篇</span></div>
        <div class="catalog-type span6 white font16" v-link="#blog/catalog">目录</div>
        <div class="back-btn span3"><span class="white mr10 font16">下一篇</span><i class="fa fa-arrow-right fa-fw white"></i></div>
    </div>
    <h2 class="font24 white text-center normal title"></h2>
    <div class="markdown-area"></div>
    <div class="catalog-area"></div>
    <div class="page-template hide">
        <div class="list-item inline c-card clearfix">
            <div class="font20 title"></div>
            <div class="font16 gray "><span class="type"></span>/<span class="file"></span></div>
        </div>
    </div>
</div>
<script v-script="views/blog/config.js"></script>
<!-- <script v-script="//cdn.bootcss.com/showdown/1.5.0/showdown.min.js"></script> -->

<script type="text/javascript">
    $(function() {
        var MarkDown = {
            converter: null,
            init: function() {
                if (showdown && showdown.Converter) {
                    this.converter = new showdown.Converter();
                    var article = {};
                    article.type = Util.getPar("type");
                    article.file = Util.getPar("file");
                    if (article.type && article.file) {
                        MarkDown.load(article);
                    }
                } else {
                    $(".title").html("暂不支持markdown");
                }
            },
            rend: function(article, data) {
                if (this.converter && data) {
                    var html = this.converter.makeHtml(data);
                    $(".title").html(article.title);
                    $(".markdown-area").html(html).show();
                }
            },
            load: function(article) {
                var self = this;
                // var url = "views.blog__" + article.type + "__" + article.file + "_md";
                var url = "views"+ '["blog/markdown/' + article.type + "/" + article.file  + '.md"]';
                var data = Zen.parse(eval(url));
                if (data) {
                    data = data.replace(/__block_head__/g, '/*')
                    self.rend(article, data);
                }
            },
            load_file: function(article) {
                var self = this;
                var url = "blog/" + article.type + "/" + article.file + ".md";
                $.ajax({
                    url: url,
                    type: 'get',
                    async: false,
                    dataType: 'html',
                    success: function(data) {
                        $(".catalog-area").hide();
                        $(".markdown-area").show();
                        self.rend(article, data);
                    },
                    error: function(e) {
                        $(".markdown-area").hide();
                        $(".catalog-area").show();
                        Message.toast("当前文章" + article.file + "不存在，请返回其他文章");
                    }
                });
            }
        }

        var Service = {
            init: function() {
                MarkDown.init();
            }
        }
        Zen.ready(Service);
    })
</script>
