code, pre {
   font-family: Menlo, Monaco, Andale Mono, Courier New, monospace;
}

code {
   padding: 1px 3px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   background: #334;
   color: #FFF;
}

pre {
   display: block;
   padding: 14px;
   margin: 0 0 18px;
   line-height: 16px;
   font-size: 1.4rem;
   border: 1px solid #334;
   white-space: pre;
   white-space: pre-wrap;
   word-wrap: break-word;
   background-color: #282a36;
   border-radius: 6px;
}
pre code {
   font-size: 1.2rem;
   padding: 0;
   background: transparent;
}
sup {
   font-size: 0.83em;
   vertical-align: super;
   line-height: 0;
}
* {
	 -webkit-print-color-adjust: exact;
}
