<style></style>
<div class="zen-page v-center">
    <div class="title"></div>
    <ul class="link-list">
        <li class="link-item text-center" v-link="#example/index">
            <div class=""><i class="fa fa-tree fa-fw white font32"></i></div>
            <div class="name">MODULES</div>
            <div class="white-line"></div>
        </li>
        <li class="link-item text-center" v-link="https://github.com/ganlight/zenjs">
            <div class=""><i class="fa fa-code fa-fw white"></i></div>
            <div class="name ">GITHUB</div>
            <div class="white-line"></div>
        </li>
        <li class="link-item text-center" v-link="#about">
            <div class=""><i class="fa fa-inbox fa-fw white font32"></i></div>
            <div class="name">ABOUT</div>
            <div class="white-line"></div>
        </li>
    </ul>
</div>
<!-- <script v-script="//cdn.bootcss.com/showdown/1.5.0/showdown.min.js"></script> -->
<script src="//cdn.bootcss.com/showdown/1.5.0/showdown.min.js"></script>
<script type="text/javascript">
    $(function() {
        var MarkDown = {
            init: function() {
                if (showdown && showdown.Converter) {
                    var converter = new showdown.Converter(),
                        text = '#hello, markdown!',
                        html = converter.makeHtml(text);
                    $(".title").html(html);
                } else {
                    $(".title").html("暂不支持markdown");
                }
            }
        }
        var Service = {
            init: function() {
                MarkDown.init();
            }
        }
        Zen.ready(Service);
    })
</script>
