<style>
    .zen-page {}

    .zen-page p {
        margin: 1.5rem;
        font-size: 1.6rem;
        line-height: 3rem;
    }
</style>
<div class="zen-page ">
    <h2 class="font24 white text-center normal">ABOUT ZENJS</h2>
    <div class="c-card">
        <h3>zenjs信息</h3>
        <p>
            - github地址：https://github.com/ganlight/zenjs.git   <br>
            - 演示地址：https://ganlight.github.io/zenjs   <br>
            - 作者邮箱：ganlight@foxmail.com
        </p>
    </div>
    <div class="c-card">
        <h3>特点</h3>
        <p>
            - 使用简单，只需引入一个js文件，就可以实现页面的模块化，方便便捷 <br>
            - 本框架采用接近与js的方式去些，尽量去除其他的框架所带来的负担，为的的是能让这个工具小巧而灵活。<br>
            - 大道若简，coding就是这么纯粹就好，像禅Zen一样，无为而有为。<br>
        </p>
    </div>
    <div class="c-card">
        <h3>库说明</h3>
        <p>
            - zenjs.min.js 核心代码 (需与zepto或jQuery一起使用) <br>
            - zenjs-zepto.min.js 是将zepto的包与zenjs核心库打包在一起，页面只需引入这个即可 <br>
            - zenjs-jquery.min.js 是将jquery的包与zenjs核心库打包在一起，页面只需引入这个即可
        </p>
    </div>

    <div class="c-card">
        <h3>开发说明</h3>
        <p>
            ###zen目录 <br> - zen目录下所有定义模块的目录，每个目录下的模块名为文件夹<br>
            里面统一为index.css,index.html,index.js <br>
            ###views目录
            <br> - modules文件夹这里面的每一个控件可以单独打开，可以使用。<br>
            - 模块划定，module的template部分，css部分，js部分和页面的html，css，js相分离，更加方便构建大型应用 <br> ###js目录 <br> ###css目录 <br>
        </p>
    </div>
    <div class="c-card">
        <h3>如何去构建</h3>
        <p>
            - 通过运行 gulp -sw 就可以生成dist目录，会自动启动一个web服务器
        </p>
    </div>
    <div class="c-card">
        <h3>如何排除bug</h3>
        <p>
            - 在console中输入Zen.current就能看到该页面相关的对象信息了
        </p>
    </div>
    <div class="c-card">
        <h3>其他</h3>
        <p>
             - 虽然js的框架写法有很多做，但个人建议你按照当前简单的方式来，大道若简是我所崇尚的。
             - 感谢vuejs，weui，zepto，gulp这些优秀的库。
        </p>
    </div>
</div>
