<style>
    #app {
        background: #f5f5f5;
        color: #4d4d4d;
        max-width: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .new-todo {
        outline: medium;
    }
</style>
<div class="zen-page ">
    <div class="todoapp">
        <div class="header">
            <h1>todos</h1>
            <input class="new-todo" autofocus autocomplete="off" placeholder="What needs to be done?">
        </div>
        <ul class="todo-list">

        </ul>
        <footer class="footer" v-show="todos.length" v-cloak>
            <span class="todo-count"><strong class="remaining"></strong> <span class="remaining"></span> left</span>
            <ul class="filters">
                <li><a href="javascript:void(0);" >All</a></li>
                <li><a href="javascript:void(0);" >Active</a></li>
                <li><a href="javascript:void(0);" >Completed</a></li>
            </ul>
            <button class="clear-completed" @click="removeCompleted" v-show="todos.length > remaining">
      Clear completed
    </button>
        </footer>
    </div>
    <footer class="info">
        <p>Double-click to edit a todo</p>
        <p>Zenjs-Todo Written by <a href="http://ganlight.com">ganlight</a></p>
        <p>Part of <a href="http://evanyou.me">Evan You</a> and <a href="http://todomvc.com">TodoMVC</a></p>
    </footer>
    <div class="page-template hide">
        <li class="todo-item">
            <div class="view">
                <input class="toggle" type="checkbox">
                <label class="todo-name title"></label>
                <button class="destroy"></button>
            </div>
            <input class="edit" type="text">
        </li>
    </div>
</div>
