.c-side-nav {
    background: rgb(63, 85, 79);
    width: 15rem;
    position: absolute;
    opacity: 1;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    padding-top: 3rem;
    transition: all 0.2s;
    z-index: -1;
    /*transform: translateX(15rem);
    -webkit-transform: translateX(15rem);
    -moz-transform: translateX(15rem);*/
}

.c-side-nav .avatar {
    width: 7rem;
    border-radius: 0.5rem;
}

.c-side-nav ul {
    margin: 0 auto;
    padding: 0;
}

.c-side-nav li {
    list-style-type: none;
    padding-left: .5rem;
    line-height: 4.5rem;
}

.c-side-nav a {
    color: white;
    text-decoration: none;
}

.c-side-nav li i {
    display: block;
    width: 5rem;
    float: left;
    font-size: 1.6rem;
    line-height: 4.5rem;
    text-align: center;
}

#app.nav-on {
    transform: translateX(-15rem);
    -webkit-transform: translateX(-15rem);
    -moz-transform: translateX(-15rem);
    /*overflow-y: hidden;*/
}

.nav-on .c-side-nav {
    width: 15rem;
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
}

.nav-on .c-side-nav b {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
}
