.c-side-nav.nav-top {
    background: rgb(63, 85, 79);
    height: 15rem;
    width: 100%;
    position: absolute;
    opacity: 1;
    left: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    transition: all 0.2s;
    z-index: -1;
}

.c-side-nav.nav-right {
    background: rgb(63, 85, 79);
    width: 15rem;
    position: absolute;
    opacity: 1;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    padding-top: 3rem;
    transition: all 0.2s;
    z-index: -1;
}

.c-side-nav .avatar {
    width: 7rem;
    border-radius: 0.5rem;
}

.c-side-nav ul {
    margin: 0 auto;
    padding: 0;
}

.c-side-nav li {
    list-style-type: none;
    padding-left: .5rem;
    line-height: 4.5rem;
}

.c-side-nav a {
    color: white;
    text-decoration: none;
}

.c-side-nav li i {
    display: block;
    width: 5rem;
    float: left;
    font-size: 1.6rem;
    line-height: 4.5rem;
    text-align: center;
}

.nav-right .zen-cur{
    transform: translateX(-15rem);
}

.nav-top .zen-cur{
    transform: translateY(15rem);
}
