.custom-confirm .mask {
    position: fixed;
    z-index: 101;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}

.custom-confirm .mbody {
    position: fixed;
    z-index: 102;
    width: 85%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #FAFAFC;
    text-align: center;
    border-radius: 3px;
}

.custom-confirm .mbody .message-text {}

.custom-confirm .alert-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
    padding: 10px;
}

.custom-confirm .mbody .confirm-btns a {
    display: inline-block;
    line-height: 40px;
    border-top: 1px solid #EFCDCD;
    color: #ff663d;
    width: 49%;
    float: left;
    text-decoration: none;
}

.custom-confirm .mbody .confirm-btns .confirm-cancel {
    border-right: 1px solid #EFCDCD;
    color: #000;
}
.c-select .mask {
    position: fixed;
    z-index: 101;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}

.c-select .mbody {
    position: fixed;
    z-index: 102;
    width: 85%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #FAFAFC;
    border-radius: 3px;
}

.c-select .context .c-list {
    max-height: 28rem;
    overflow-y: scroll;
}

.c-select .select-item.selected {
    background: #eeeef1;
}

.c-select .alert-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
    padding: 10px;
}
.c-dropdown .mask {
    position: fixed;
    z-index: 101;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}

.c-dropdown .mbody {
    position: fixed;
    z-index: 102;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #FAFAFC;
}

.c-dropdown .context>div {
    max-height: 250px;
    overflow-y: scroll;
}

.c-dropdown .select-item.selected {
    background: #eeeef1;
}
